{% extends 'base.html' %} {% block body %}
<!--Form section of the Todo List App with button-->
<div class="container">
  <h2>Add a Todo</h2>
  <form action="/todos" method="POST">
    <div class="mb-3">
      <label for="title" class="form-label">Todo Title</label>
      <input
        type="text"
        class="form-control"
        id="title"
        name="title"
        aria-describedby="emailHelp"
      />
    </div>
    <div class="mb-3">
      <label for="desc" class="form-label">Todo Description</label>
      <input type="text" class="form-control" id="desc" name="desc" />
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>
<!--Adding a table to display the todos-->
<div class="container my-3">
  <h2>Your Todos</h2>
  {% if allTodo|length==0 %}
  <div class="alert alert-danger" role="alert">
    No todos found. Please add your first todo!!
  </div>
  {% else %}
  <table class="table">
    <thead>
      <tr>
        <th scope="col">SNo.</th>
        <th scope="col">Ttle</th>
        <th scope="col">Description</th>
        <th scope="col">Time</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for todo in allTodo %}
      <tr>
        <th scope="row">{{loop.index}}</th>
        <td>{{todo.title}}</td>
        <td>{{todo.desc}}</td>
        <td>{{todo.date_created}}</td>
        <td>
          <a
            href="/delete/{{todo.sno}}"
            type="button"
            class="btn btn-outline-danger btn-sm mx-1"
            >Delete</a
          >
          <a
            href="/update/{{todo.sno}}"
            type="button"
            class="btn btn-outline-warning btn-sm mx-1"
            >Update</a
          >
        </td>
      </tr>

      {% endfor %}
    </tbody>
  </table>
  {% endif %}
</div>

{% endblock body%}
