{% extends 'base.html' %} {% block body %}
<!--Form section of the Todo List App with button-->
<div class="container">
  <h2>Update Todo</h2>
  <form action="/update/{{todo.sno}}" method="POST">
    <div class="mb-3">
      <label for="title" class="form-label">Todo Title</label>
      <input
        type="text"
        class="form-control"
        id="title"
        name="title"
        value="{{todo.title}}"
        aria-describedby="emailHelp"
      />
    </div>
    <div class="mb-3">
      <label for="desc" class="form-label">Todo Description</label>
      <input type="text" class="form-control" id="desc" name="desc" value="{{todo.desc}}"/>
    </div>
    <button type="submit" class="btn btn-success">Update</button>
  </form>
</div>

{% endblock body%}
